
**/build/

**/.vscode/

**/*.tmp
**/*.log


**/*.bin
**/*.elf
**/managed_components/
**/components/

**/*~

**/venv/
**/.venv/

**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake

**/.pio/
**/.ccls-cache/
